body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(30, 30, 30);
    margin: 0;
}
th {
    color: rgb(185, 185, 185);
    text-align: left;
    padding-left: 10px;
    padding-right: 6px;
}
td {
    padding-left: 0px;
    padding-right: 26px;
    padding-bottom: 6px;
    color: white;
}
.participant {
    cursor: grab;
    height: fit-content;
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(70, 70, 70);
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}
.placeholder {
    margin-left: -0.7333px;
    margin-right: 4.2777px;
    margin-top: --0.7333px;
    margin-bottom: 4.2777px;
    border-width: 1px;
    border-style: dashed;
    border-color: #ccc;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.box {
    border-width: 0;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    color: white;
    width: 100%;
    box-shadow: 1px 1px 5px black;
}
.group {
    min-width: 200px;
    min-height: 250px;
    padding-right: 8px;
}

.random_group {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
}

.group_size_label {
    border: 1px solid;
    padding: 5px;
    height: 20px;
    display: inline-block;
    margin: 0px;
    border-radius: 3px;
    border-color: rgb(71, 71, 71);
    margin-right: -1px;
    margin-left: 20px;
    background-color: rgb(50, 50, 50);
    color: rgb(230, 230, 230);
    font-weight: normal;
}
.group_size_dropdown {
    cursor: pointer;
    height: 20px;
    padding: 5px;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 3px;
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    display: inline-block;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    margin-right: 5px;
}
select {
    text-transform: none;
}

.side-button {
    cursor: pointer;
    border-radius: 10px;
    height: 100%;
    border-width: 0;
    border-color: green;
    margin-right: 6px;
    box-shadow: 1px 1px 5px black;
    font-family: "Roboto", sans-serif;
    background-color: rgb(33, 140, 33);
    color:rgb(220, 220, 220);
}
.side-button:hover {
    background-color:rgb(47, 163, 47);
}
.side-button:active {
    background-color: rgb(35, 124, 35);
}

.left-hard {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.right-hard {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.top-hard {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 1px;
}
.bottom-hard {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.trash {
    cursor: pointer;
    margin-left: 3px;
    padding: 1px;
    border-radius: 3px;
    
    border-style: solid;
    color: rgb(150, 150, 150);
    border-color: rgba(0, 0, 0, 0);
}

.trash-selected, .trash:hover {
    color: rgb(220, 21, 21);
}

.toolbar {
    height: 60px;
    background-color: rgb(64, 64, 64);
    margin-bottom: 10px;
    overflow: hidden;
    color: #cbcbcb;
    font-weight: 600;
    z-index: 10;
}

.title {
    float: left;
    font-size: xx-large;
    margin: 0px;
    margin-left: 10px;
}
.toolbar-option {
    float: right;
    margin-right: 10px;
    height: 36px;
    width: 36px;
    border: 0;
    background: none;
    color: #cbcbcb;
    cursor: pointer;
}
.toolbar-option:hover {
    color: rgb(232, 232, 232);
}
.toolbar-option:active {
    color: rgb(176, 176, 176);
}
.material-icons {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    user-select: none;
}
a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.language-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 55px;
    margin-top: 8px;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    width: fit-content;
    padding: 0px;
}
.language-option {
    cursor: pointer;
    user-select: none;
    font-weight: normal;
    padding: 5px 8px;
    border-radius: 5px;
}
.language-option:hover {
    background-color: rgb(70, 70, 70);
}
.language-option-selected {
    color:rgb(113, 165, 224);
}